{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "About Me" %}{% endblock %}
{% block title %}{% trans "About Me" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "About Me" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}

<h1 style="text-align: center;"><strong>Kevin K. Ng'eno</strong></h1>
<p>I'm GIS Developer with professional experience in the ever dynamic GIS world. I'm interested in all WebGIS development, Predictive Analysis, Big Data & DevOps for real world solutions. I also have skills in other fields like GPS Mapping &amp; Landscape Design.</p>

{% endblocktrans %}
{% endblock %}
